### Loading the Data and importing the neccessary libraries.

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Seaborn: Data visualization libray built on matplotlib
import seaborn as sns

# Set the plotting style
sns.set_style("whitegrid")

In [ ]:
df_seattle = pd.read_csv('/Users/hamdahassan/DATA5100/weather/data/seattle_rain.csv')

In [ ]:
df_copanhagen = pd.read_csv('/Users/hamdahassan/DATA5100/weather/data/Copanhagen_rain.csv')

### Reviewing the dataset
- Compared the two datasets using methods like head() to look at the first few rows.
- This helps with understanding the structure of the data (columns, formats, and sample values).

In [ ]:
df_seattle.head()

In [ ]:
df_copanhagen.head()

In [ ]:
df_seattle['STATION'].nunique()

### Converting the datasets to Datetime
- Converted DATE column to a datetime format to ensure that time-based operations (such as finding the max date or sorting) are accurate. 
- If the dates remain as strings, the methods could treat them as text instead of actual dates, which would lead to incorrect results.

In [ ]:
df_seattle['DATE'] = pd.to_datetime(df_seattle['DATE'])
df_seattle['DATE'] = df_seattle['DATE'].dt.strftime('%Y-%m-%d')

In [ ]:
df_copanhagen['DATE'] = pd.to_datetime(df_copanhagen['DATE'])
df_copanhagen['DATE'] = df_copanhagen['DATE'].dt.strftime('%Y-%m-%d')

### Analyzing the Dates
- Reviewed the dates for each city to ensure that we only have dates from 01/01/2018 to 12/31/2022.

In [ ]:
df_seattle['DATE'].agg(['min', 'max'])

In [ ]:
df_copanhagen['DATE'].agg(['min', 'max'])

### Suitable Data?
- Checked if the data is suitable by plotting the daily percipitation for each city.

In [ ]:
df_seattle['DATE'] = pd.to_datetime(df_seattle['DATE'])
plt.figure(figsize=(20, 5))

sns.lineplot(data=df_seattle, x='DATE', y="PRCP")

plt.xlabel('Date', fontsize=18)
plt.ylabel('Preticipation (inches)', fontsize=18)

plt.tick_params(labelsize=15)

plt.show()

In [ ]:
df_copanhagen['DATE'] = pd.to_datetime(df_copanhagen['DATE'])
plt.figure(figsize=(20, 5))

sns.lineplot(data=df_copanhagen, x='DATE', y="PRCP")

plt.xlabel('Date', fontsize=18)
plt.ylabel('Preticipation (inches)', fontsize=18)

plt.tick_params(labelsize=15)

plt.show()

### Am I making fair comparisons?
- Copenhagen city has more stations so this process ensures that we are only focusing on one station so that
we are making a fair comparison (station vs staion). Filtered for the (HELSINGBORG A, SW) station and then
used methods like unique(), info() to see if I got the correct information.

In [ ]:
df_copanhagen['NAME'].unique()

In [ ]:
df_copanhagen = df_copanhagen.loc[df_copanhagen['NAME'] == "HELSINGBORG A, SW"]

In [ ]:
df_copanhagen['STATION'].unique()

In [ ]:
df_copanhagen.shape

In [ ]:
df_copanhagen.info()

### Joining the two datasets and cleaning up.
- This combines the Copenhagen and Seattle datasets into a single DataFrame. It keeps only the *DATE* and *PRCP* columns from each dataset, then merges them together based on matching dates.
- Outer join ensures that all dates from both datasets are included, even if one city is missing data for that day. After that, we create a new set that has  *DATE*, *City* and *PRCP* columns. The city column represent SEA or COP as x and y.

In [ ]:
df = df_copanhagen[['DATE', 'PRCP']].merge(df_seattle[['DATE', 'PRCP']], on='DATE', how='outer')

In [ ]:
df.head()

In [ ]:
df = pd.melt(df, id_vars='DATE', var_name='city', value_name='precipitation')

In [ ]:
df.head()

### Readability, testing, and changing column names 
- Changed the city values that were 'PRCP_x' or 'PRCP_y' to be 'COP' or 'SEA'.
- Renamed *DATE* column to *date* for consistency and readability
- Used methods like head() and tail() to see the values stored in the first and last rows of the data

In [ ]:
df.loc[df['city'] == 'PRCP_x', 'city'] = 'COP'

In [ ]:
df.loc[df['city'] == 'PRCP_y', 'city'] = 'SEA'

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df = df.rename(columns={'DATE': 'date'})

### Dealing with missing data
- Checked the number of non-missing and missing values in the dataset.
- Checked the count of missing precipitation values separately for each city.

In [ ]:
df.notna().sum()

In [ ]:
df.isna().sum()

In [ ]:
df.loc[df['city'] == 'SEA', 'precipitation'].isna().sum()

In [ ]:
df.loc[df['city'] == 'COP', 'precipitation'].isna().sum()

### Impute the missing values
- Replaced the missing values with the mean across years of values on that day.
- Defined a new variable that's called *day_of_year*
- This will help because it will help allow us to identify the values we want to average over.

In [ ]:
df['day_of_year'] = pd.DatetimeIndex(df['date']).day_of_year

In [ ]:
df.head(10)

### Mean of precipitation across years and a line chart to represent that
- Compute the mean of precipitation for each day in Copenhagen, averaged across years.
- Created a line chart that shows the mean preticipation on the x-axis and the day of the year on the y-axis.

In [ ]:
mean_day_precipitation = df.loc[df['city'] == 'COP', 
        ['precipitation', 'day_of_year']].groupby(
            'day_of_year').mean()

In [ ]:
plt.figure(figsize=(20, 5))

sns.lineplot(data=mean_day_precipitation, x='day_of_year', y='precipitation')

plt.xlabel('Day of the year', fontsize=18)
plt.ylabel('Mean preticipation (inches)', fontsize=18)

plt.tick_params(labelsize=15)

plt.show()

### Replacing the null values
- Get the indices of each row where precipitation is missing and replace it.
- Then test the data using .isna(), .head(), and .tail() to see if there are missing values now.

In [ ]:
indices = np.where(df['precipitation'].isna() == True)[0]

In [ ]:
for index in indices:
    df.loc[index, 'precipitation'] = mean_day_precipitation.loc[df.loc[index, 'day_of_year']].values[0]

In [ ]:
df.isna().sum()

In [ ]:
df.head()

In [ ]:
df.tail()

### Exporting the new dataset as a csv file

In [ ]:
df.to_csv('clean_seattle_copanhagen_weather.csv', encoding='utf-8-sig', index=False)

In [ ]:
final_df = pd.read_csv("/Users/hamdahassan/DATA5100/weather/data/clean_seattle_copanhagen_weather.csv")

### Checking for missing values or duplicates in the new data.
- Using duplicated() and isna() methods

In [ ]:
final_df.duplicated().any()

In [ ]:
final_df.isna().sum()

### Summary Statistics
- summary for each city. *avg_precipitation* computes the average precipitation for each city.
- *total_precipitation* calculates the total precipitation, allowing us to compare overall rainfall between Seattle and Copenhagen.
- *rainy_days* counts the number of days with precipitation for each city. It helps us compare how often it rains in Seattle versus Copenhagen.

In [ ]:
avg_precipitation = final_df.groupby("city")["precipitation"].mean()

In [ ]:
total_precipitation = final_df.groupby("city")["precipitation"].sum()

In [ ]:
rainy_days = final_df[final_df["precipitation"] > 0].groupby("city")["date"].count()

### Visualizing the Data

### Visualization 01: Bar chart showing mean daily precipitation
- This Bar chart shows the mean daily precipitation for Seattle and Copenhagen over the dataset period.

In [ ]:
sns.barplot(data=final_df, x='city', y='precipitation', hue='city', palette=['skyblue', 'lightgreen'])
plt.xlabel("City", fontsize=18)
plt.ylabel("Precipitation (inches)", fontsize=18)
plt.title("Mean Daily Precipitation: Seattle vs Copenhagen", fontsize=16)
plt.tick_params(labelsize=15)
plt.show()

### Visualization 02: Line chart showing daily Precipitation
- This line chart shows the daily precipitation for Seattle and Copenhagen over the dataset period. Each line represents one city. The chart identifies periods of heavier rain and overall differences between the two cities.

In [ ]:
final_df['date'] = pd.to_datetime(final_df['date'])

plt.figure(figsize=(20,5))

sns.lineplot(data=final_df, x='date', y='precipitation', hue='city', palette=['skyblue', 'lightgreen'])
plt.xlabel("Date", fontsize=18)
plt.ylabel("Precipitation (inches)", fontsize=18)
plt.title("Daily Precipitation Trends: Seattle vs Copenhagen", fontsize=16)
plt.tick_params(labelsize=15)
plt.show()

### Visualization 03: Bar chart showing total precipitation for each city each year.
- This Bar chart shows the total precipitation for Seattle and Copenhagen every year (2018-2022).

In [ ]:
import matplotlib.pyplot as plt

# Make sure 'date' is datetime
final_df['date'] = pd.to_datetime(final_df['date'])

# Extract year from the date
final_df['year'] = final_df['date'].dt.year

# Group by year and city, then sum precipitation
yearly_precip = final_df.groupby(['year', 'city'])['precipitation'].sum().unstack()

# Plot a bar chart with grouped bars for each city
yearly_precip.plot(kind='bar', figsize=(12,6), color=['skyblue', 'lightgreen'])
plt.xlabel("Year", fontsize=14)
plt.ylabel("Total Precipitation (inches)", fontsize=14)
plt.title("Total Precipitation per Year: Seattle vs Copenhagen", fontsize=16)
plt.legend(title='City')
plt.show()

### Visualization 04: Bar chart showing number of rainy days for each city.
- This Bar chart shows the total number of rainy days Seattle and Copenhagen got between (2018-2022).

In [ ]:
rainy_df = rainy_days.reset_index()
rainy_df.columns = ['City', 'Rainy_Days']

plt.figure(figsize=(8,5))
sns.barplot(data=rainy_df, x='City', y='Rainy_Days', palette=['lightblue','lightgreen'])
plt.title("Number of Rainy Days: Seattle vs Copenhagen", fontsize=16)
plt.ylabel("Number of Rainy Days", fontsize=14)
plt.show()